@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.App{
    min-height:100vh;
    display: flex;
    background-image: url(./background.png);
    background-position: center;
    background-size: cover;
    
}